@model VersionPress.DocsSite.Models.DocumentNavigationModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

@{ var node = Model.Node; }

@if (node != null && node.Clickable) 
{
    <div class="caption">@Model.Text</div> 
    <div class="link"><a href="@node.Url">@node.Title</a></div>
     
} else { 
    <text></text>
}