# IDEA project files
.idea

# Build dirs
/dist
/node_modules

# TypeScript definition files
/typings
!/typings/custom/*.*
!/typings/typings.d.ts
!/typings/dotenv/dotenv.d.ts

/src/**/*.js
/src/**/*.map

!/src/public/js/**/*.js

# Environment configuration
.env


# Other
tsd-debug.log
