# Project files
.idea


# Downloaded dependencies
/node_modules
/typings
!/typings/custom/*.*


# Build artifacts
/dist
/src/**/*.js
/src/**/*.map
/src/public/*.css
!/src/public/js/**/*.js

# Other
.env
tsd-debug.log
