# Project files
.idea


# Downloaded dependencies
/node_modules
/typings
!/typings/custom/*.*
!/typings/typings.d.ts
!/typings/dotenv/dotenv.d.ts


# Build artifacts
/dist
/src/**/*.js
/src/**/*.map
/src/public/*.css
!/src/public/js/**/*.js

# Other
.env
tsd-debug.log
