//
// Base styles for the whole website. Some simple sites like PayPal processing ones
// use this stylesheet directly while others like homepage or checkout
// include this base stylesheet and further expand on it.
//

@import "bootstrap/bootstrap.custom.less";
@import "github.less";

body {
    font-family: @font-family-base;
}

.body-content {
    margin-top: 40px;
    margin-bottom: 20px;
}

#menu {
    margin-top: 50px;
}