//
// Base styles for the whole website. Some simple sites like PayPal processing ones
// use this stylesheet directly while others like homepage or checkout
// include this base stylesheet and further expand on it.
//

@import "bootstrap/bootstrap.custom.less";
@import "github.less";

@darker-navbar-color: darken(@navbar-default-brand-color, 15%);

body {
    font-family: @font-family-base;
}

.body-content {
    margin-top: 40px;
    margin-bottom: 20px;
}

#sidebar {
    .make-md-column(3);
    .make-md-column-push(9);
    .navbar-default;
    border: 1px solid @navbar-default-border;
    font-size: 0.9em;
}

#sidebar-header {
    color: @darker-navbar-color;
    margin: 15px auto 15px;
    text-align: center;
}

.main-content {
    .make-md-column(8);
    .make-md-column-pull(3);
}

.docs-for-version {
    font-size: 0.7em;
    padding-left: 5px;
    color: @darker-navbar-color;
}

.docs-for-version .docs-version {
    font-weight: bold;
}


/* Sticky footer styles, copied from http://getbootstrap.com/examples/sticky-footer/
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 100px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;

    // Custom footer styles
    padding-top: 20px;
    text-align: center;

}
