<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,600' rel='stylesheet' type='text/css'>
    <link href="~/css/style-base.css" rel="stylesheet" />


</head>
<body>
    <div class="container body-content markdown-body">
        @RenderBody()
    </div>

</body>
</html>
